
@import "./variables.css";

.cert-title {
    padding: 3rem 1rem;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}
.cert-title h1 {
    padding-bottom: 2rem;
    font-size: 1.6rem;
    color: var(--green);   
}
.thecours{
    padding-bottom: 3rem;
}
.start .price{
    font-weight: bold;
}
.start .startCourse{
    margin-left: 1rem;
    background-color: var(--lemon-green);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 1rem
}
.courseimg img{
    width: 100%;
    
}
.advantages{
    padding: 3rem 0rem;
   
}
.advantages h2{
    padding-bottom: 2rem;
    
}
.hopeToAchieve{
    display: flex;
    flex-direction: column;

}
.TTAandProjects{
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.lists{
    padding-bottom: 2rem;
}

.lists >ol>li, .highlight>ol>li{
    padding: 0.5rem 0rem;
}

@media (min-width: 760px) {
    .cert-title{
        flex-direction: row;
    }
    .thecours{
        width: 70%;
    }
    .courseimg{
        width: 30%;
    }
    .hopeToAchieve {
        flex-direction: row;
    }
    .TTAandProjects{
        width: 70%;
        text-align: start;
        margin-right: 3rem;
        padding-right:2rem;
    }
    .highlight{
        width: 30%;
    }
   
}



