@import "./variables.css";

.course-intro h1{
    color: var(--green);
}
.course-intro p{
    font-size: 1rem;
}
.section .course-info span{
    color: var(--green);
    font-weight: bold;
}
.highlights{
    background: #f4f4f4;
    padding: 3rem 1rem;
}
.highlights h2{
    color: var(--green);
    text-align: center;
    padding-bottom: 2rem;
}
.hightlightlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hightlightlist > div > ul > li{
    padding: 0.8rem 0.4rem;
    font-style: italic;
    font-size: 1rem; 
}
.hightlightlist1{
    margin-bottom: 1rem;
}



@media(min-width:768px){
    .hightlightlist{
        flex-direction: row;
    }
    .hightlightlist > div{
        margin: 0 0.5rem;
    }

    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width: 900px){
    .section .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}