@import "./variables.css";
.course-intro h1{
    color: var(--green);
}
.course-intro h1 span{
    border-bottom: 1px solid var(--green);
    padding-bottom: 0.5rem;

}

.nuCourseCard .course-info .course-title{
    color: var(--green);
    
    
}
.course-intro p{
    font-size: 1rem;
    text-align: center;
}
.section .course-info .coursetext p{
    color: black;
    text-align: start;
    font-size: 0.8rem;
    padding: 1rem;
}
.nuCourseCard .course-info .course-price{
    background-color: var(--green)
}

.nuCourseCard .course-info .course-price .c-price{
    color: var(--white);
    background: var(--green);
    padding: 0.5rem 1.5rem;
    font-weight: bold;
}
    


.nuCourseCard .course-info .course-price .link{
    background-color: var(--lemon-green);


    align-items: center;
}
.nuCourseCard .course-info .course-price .link a{
    color: var(--white);
    padding: 0.5rem 2.5rem;
    font-weight: bold;
}


.faq{
    background: rgba(144, 238, 144, 0.87);
    
    padding: 3rem

}
.faq h1{
    color: var(--green);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    justify-content: center;
    word-spacing: 5px
    
}
.footer-container p a{
    color: white;
}



@media(min-width:768px){
    
    
    .faq{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media(min-width: 900px){
    .section .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}