@import './variables.css';
@import './card.css';
@import './constants.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.res-pad {
  padding: 0.5rem;
}
.top-header {
  background-color: var(--green);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem .6rem
}
.top-header .phone span{
  color: white;
}
.top-header > div > ul >li{
  list-style: none;
  display: inline-block;
  padding: 0rem 0.5rem;
}
.top-header > div > ul > li > a{
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    transition: all .4s ease;
}
.top-header > div > ul > li > a:hover{
  color: rgba(255, 166, 0, 0.397);
}
.main-header{
  padding: 0.8rem;
}
.logoandtoggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mobile-web-nav {
  position: relative;
}
.mobile-web-nav .logo img{
  height: 4.2rem
}
.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button__line {
  width: 100%;
  height: 0.22rem;
  background:  darkslategrey;
  border-radius: 6px;
  display: block;
  margin: 0.4rem 0;
}
.web-menu {
  display: none;
}
.mobile-web-nav .mobilemenu{
  display: none;
}
.mobile-web-nav .mobilemenu.show-mobile {
  display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 5;
    background-color: white;
    padding: 0.5rem;
    left: 0;
}
.mobile-web-nav .mobilemenu > ul{
  padding-top: 1.6rem;
}
.mobile-web-nav .mobilemenu > ul >li{
  list-style: none;
  text-transform: uppercase;
  padding: 1.3rem;
  position: relative;
  z-index: -2;
  border: 1px solid #cccccc65;
  background: #cccccc56;
 /* box-shadow: inset 0 0 10px transparent;;*/
}
.mobile-web-nav .mobilemenu > ul >li > a{
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
}
.mobile-web-nav .mobilemenu > ul >li > a span{
  color: rgba(255, 255, 255, 0.603);
}
.mobile-web-nav .mobilemenu .search-container{
  width: 100%;
}
.mobile-web-nav .mobilemenu input[type=text]{
  padding: 1rem;
  font-size: 1rem;
  background: #cccccc56;
  border: none;
}
.mobile-web-nav .mobilemenu .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.main-banner{
  width: 100%;
}
.main-banner > ul > li .background{
  background: green;
  width: 100%;
}
.main-banner > ul > li> .img{
  width: 100%;
}
.welcome{
  margin-top: auto;
  padding: 2rem 1rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.welcome p{
    font-size: 1.1rem;
}
.welcome .mission{
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  color: darkgreen;
}
.welcome .mission p{
  
  letter-spacing: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.356);
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  padding: 2rem;
}
.welcome a:hover{

}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  width: 100%;
}
.section.why {
  background: #f4f4f4;
}
.section h2 {
  color: darkslategray;
  font-size: 1.6rem;
  padding-bottom: 1.5rem ;
}
.section .row {
  display: flex;
  flex-direction: column;
}
.section .row .sect {
  margin-top: 1.3rem;
  background: white;
  padding: 3rem 1rem;
  width: 100%;
}
.section.why .sect img {
  height: 68px;
  padding-bottom: 10px;
}
.section.why .sect h4 {
  font-weight: lighter;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.section.why .sect p {
  font-size: 1.1rem;
}
.section.why .btn {
  margin-top: 3rem;
  text-decoration: none;
  color: white;
  background: burlywood;
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
}
.section.courses .row .course-card {
  display: flex;
  flex-direction: column;
}
.section.courses .row .course-card .course-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.section.courses .row .course-card .course-img img {
  width: 100%;
}
.section.courses .row .course-card .course-info {
  padding: 1rem;
}
.section.courses .row .course-card .course-info .course-title {
  padding: 0.5rem 0;
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.section.courses .row .course-card .course-info .course-price {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.section.subscribe {
  background-color: var(--green);
}
.section.subscribe .title {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  .res-pad {
    padding: 1rem 5rem;
  }
  .main-header .mobile-web-nav .toggle-button {
    display: none;
  }
  .main-header .mobile-web-nav .web-menu {
    display: flex;
  }
  .main-header .mobile-web-nav .web-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-header .mobile-web-nav .web-menu ul li {
    display: flex;
    padding: 0 0.5rem;
  }
  .section .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 980px) {
  .res-pad {
    padding: 1rem 10rem;
  }
}
