@import "./variables.css";
@import "./card.css";
@import "./constants.css";
@import "./form.css";
@import "./faq.css";
@import "./course.css";
@import "./certinhair.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
.res-pad {
  padding: 0.5rem;
}
.top-header {
  background-color: var(--green);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.6rem;
}
.top-header .contact-info {
  display: flex;
}
.top-header .contact-info span {
  color: white;
  font-size: 12px;
}
.top-header .contact-info .top-address {
  display: none;
}
.top-header > div > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0rem 0.5rem;
}
.top-header > div > ul > li > a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top-header > div > ul > li > a:hover {
  color: rgba(255, 166, 0, 0.397);
}
.main-header {
  padding: 0.8rem;
}
.logoandtoggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mobile-web-nav {
  position: relative;
}
.mobile-web-nav .logo {
  padding-right: 2rem;
}
.mobile-web-nav .logo img {
  height: 4.2rem;
}
.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button__line {
  width: 100%;
  height: 0.22rem;
  background: darkslategrey;
  border-radius: 6px;
  display: block;
  margin: 0.4rem 0;
}
.desktopmenu {
  display: none;
}
.desktopmenu > ul > li {
  display: inline-block;
  padding: 0rem 0.5rem;
  text-transform: capitalize;
}
.desktopmenu > ul > li > a {
  color: darkslategray;
  text-decoration: none;
  font-weight: 500;
}
.desktopmenu > ul > li > a:hover {
  opacity: 0.2;
}
.desktopmenu .dropdownmenu1 {
  display: none;
}
.desktopmenu > ul > li:hover .dropdownmenu1 {
  display: block;
  position: absolute;
  background: darkslategray;
  top: 3rem;
}
.desktopmenu > ul > li:hover .dropdownmenu1 > ul {
  display: block;
  margin: 10px;
}
.desktopmenu > ul > li:hover .dropdownmenu1 > ul > li {
  min-width: 150px;
  padding: 1rem;
  font-size: 0.8rem;
}
.desktopmenu > ul > li:hover .dropdownmenu1 > ul > li a {
  color: #f4f4f4;
}
.desktopsearch-bar {
  display: none;
}
.mobilenav {
  position: relative;
}
.mobile-web-nav .mobilemenu {
  display: none;
}
.mobile-web-nav .mobilemenu.show-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: white;
  padding: 0.5rem;
  left: 0;
}
.mobilemenu > ul {
  padding-top: 1.6rem;
}
.mobile-web-nav .mobilemenu > ul > li {
  list-style: none;
  text-transform: uppercase;
  padding: 1.3rem;
  position: relative;
  z-index: 1;
  border: 1px solid #cccccc65;
  background: #cccccc56;
}
.mobile-web-nav .mobilemenu > ul > li > a {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
}
.mobile-web-nav .mobilemenu > ul > li > a span {
  color: rgba(255, 255, 255, 0.603);
}
.mobile-web-nav .mobilemenu .search-container {
  width: 100%;
}
.mobile-web-nav .mobilemenu input[type="text"] {
  padding: 1rem;
  font-size: 1rem;
  background: #cccccc56;
  border: none;
}
.mobile-web-nav .mobilemenu .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.single-course {
  padding: 0.5rem;
  background-color: var(--cream);
}
.main-banner {
  position: relative;
  width: 100%;
  z-index: -1;
  max-height: 600px;
  overflow: hidden;
}
.main-banner.inner-page {
  max-height: 300px;
}
.main-banner img {
  width: 100%;
}
.headeroverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.459);
  padding: 3rem 1rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-overlay-text {
  margin: 0 5%;
}
.header-overlay-text h1 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.header-overlay-text p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.header-overlay-text a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.header-overlay-text a:hover {
  background: burlywood;
}
.welcome {
  margin-top: auto;
  padding: 2rem 1rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.course-intro {
  text-align: center;
  display: flex ;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.welcome h2 {
  color: var(--green);
}
.welcome h2 span {
  border-bottom: 1px solid var(--green);
  padding-bottom: 1rem;
}
.welcome p {
  font-size: 1rem;
  text-align: start;
  padding: 1rem;
}
.course-intro p{
  text-align: center;
    
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  width: 100%;
}
.section.why {
  background: var(--grey);
}
.section h2 {
  color: white;
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}
.section .row {
  display: flex;
  flex-direction: column;
}
.section .row .sect {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: white;
  padding: 5rem 2rem 3rem;
  width: 100%;
}
.section.why .row {
  margin-top: 4rem;
}
.section.why .title {
  color: var(--green);
}
.section.why .sect {
  position: relative;
  max-width: 400px;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section.why .sect .img-round {
  position: absolute;
  top: -15%;
  background-color: var(--green);
  width: 130px;
  height: 130px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section.why .sect img {
  height: 68px;
  padding-bottom: 10px;
}
.section.why .sect h4 {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding: 1rem;
}
.section.why .sect p {
  font-size: 1.1rem;
  min-height: 145px;
}
.section.why .btn {
  margin-top: 3rem;
  text-decoration: none;
  color: white;
  background: burlywood;
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
}
.section.courses .row .course-card {
  display: flex;
  flex-direction: column;
}
.section.courses .row .course-card .course-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.section.courses .row .course-card .course-img img {
  width: 100%;
}
.section.courses .row .course-card .course-info {
  padding: 1rem;
}
.section.courses .row .nuCourseCard .course-info {
  padding: 0rem;
}
.section.courses .row .course-card .course-info .course-title {
  padding: 0.5rem 0;
  font-size: 20px;
  text-align: start;
}
.section.courses .row .nuCourseCard .course-info .course-title {
  padding: 0.5rem 1rem;
  
}

.section.courses .row .course-card .course-info .course-price {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.courses {
  padding: 3rem 1rem;
  background-color: var(--green);
}
.coursepage-courses{
  background-color: var(--white);
}
.courses h2 {
  padding-top: 2rem;
}
.courses h2 span {
  padding-bottom: 1rem;
  border-bottom: 1px solid #25d366;
}
.courses p {
  padding-top: 1rem;
  color: white;
}
.courses .more-info {
  text-align: start;
}
.courses .more-info a {
  border-bottom: 1px solid black;
  font-size: 0.8rem;
}
.courses .btn {
  border: 2px solid white;
  border-radius: 0;
  background-color: #25d366;
}
.graduates h2 {
  text-align: center;
  color: var(--green);
}
.graduates h2 span {
  border-bottom: 1px solid var(--green);
  padding-bottom: 1rem;
}
.graduates .graduatesquote {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.graduates .graduatesquote .quotesContent {
  padding: 2.2rem;
  text-align: left;
}
.fa-quote-left {
  color: var(--green);
}
.graduates .graduatesquote .profile {
  background-color: var(--green);
  padding: 1rem;
  display: flex;
  align-items: center;
}
.graduates .graduatesquote .profile .img-holder {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.graduates .graduatesquote .profile .img-holder img {
  width: 100%;
  height: auto;
}
.graduates .graduatesquote .profile .nameAndTitle {
  padding-left: 0.8rem;
  color: white;
  text-align: left;
}
.section.bg-lemon {
  background-color: var(--light-green);
}
.section.cta {
  padding: 3.5rem 0;
}
.section.cta .title {
  color: var(--green);
  padding-bottom: 0;
}
.section.cta .btn {
  border: 2px solid white;
  border-radius: 0;
  background-color: #25d366;
  margin-bottom: 0;
}
.footer-container {
  background: var(--green);
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.footer-container > div {
  width: 100%;
}
.footer-container h4 {
  padding: 2rem 0rem;
  color: #f4f4f4;
}
.footer-container p {
  padding-bottom: 0.8rem;
  font-size: 0.9rem;
  color: #f4f4f4;
}
.footer-btn {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.5rem 1.1rem;
}
.footer-container .footer-courses p a {
  font-weight: bold;
  text-decoration: underline;
}
.footer-container .footer-courses a,
.footer-container .footer-links a {
  text-decoration: none;
  color: #f4f4f4;
}
.copyright {
  background: var(--green);
  padding: 1rem;
  color: white;
  border-top: 1px solid #5a8077;
}
.copyright > div > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem;
}
.copyright > div > ul > li > a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.4s ease;
}
.copyright > div > ul > li > a:hover {
  color: burlywood;
}
.page-content {
  display: flex;
  flex-direction: column;
}
.page-content .mission-vision {
  display: flex;
  flex-direction: column;
}
.page-content .mission-vision .mission-content {
  padding: 1rem 0;
}
.contact-form {
  flex: 0 0 60%;
}
.contact-form .form input,
.contact-form .form textarea {
  width: 100%;
}
.accordion {
  margin: 1rem 0;
  width: 100%;
}
.course-info .row {
  display: flex;
  flex-direction: column;
}
.course-info .row .course-title-action {
  display: flex;
  flex-direction: column;
}
.course-info .row .course-title-action h1 {
  font-size: 42px;
  line-height: 51px;
  font-weight: 900;
}
.course-info .row .course-title-action .action {
  padding: 1.5rem 0;
}
.course-info .row .courseimg {
  width: 100%;
  max-width: 380px;
}
.course-info .row .courseimg img {
  width: 100%;
}
.course-info .row .course-title-action .action .btn {
  border-radius: 0;
  background-color: var(--lemon-green);
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .res-pad {
    padding: 2rem 4rem;
  }
  .top-header,
  .main-header,
  .copyright, .single-course {
    padding: 1rem 4rem;
  }
  .main-header .mobile-web-nav .toggle-button {
    display: none;
  }
  .main-header .mobile-web-nav .desktopmenu {
    display: flex;
  }
  .main-header .mobile-web-nav .desktopmenu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-header .mobile-web-nav .desktopmenu ul li {
    display: flex;
    padding: 0 1.5rem;
  }
  .main-header .mobile-web-nav .desktopmenu ul li:last-child {
    padding-right: 0;
  }
  .header-overlay-text {
    margin: 0 25%;
  }
  .course-intro p{
    padding: 2rem 10rem
      
  }
  .section .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .why .row > div {
    margin: 0 0.4rem;
  }
  .projectdemo {
    flex-direction: row;
  }
  .demoimgs > div img {
    width: 80%;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .page-content {
    flex-direction: row;
  }
  .page-content .about-content {
    padding-right: 1rem;
  }
  .page-content .mission-vision {
    padding-left: 1rem;
  }
  .section.graduates .row {
    flex-wrap: nowrap;
  }
  .course-info .row {
    flex-direction: row;
    align-items: center;
  }
  .course-info .row .course-title-action h1 {
    padding: 0 1.5rem 1.5rem 0;
  }
}
@media (min-width: 860px) {
  .top-header .contact-info .top-address {
    display: unset;
    padding-left: 1.5rem;
  }
}
@media (min-width: 990px) {
  .res-pad {
    padding: 3.5rem 8rem;
  }
  .toggle-button {
    display: none;
  }
  .desktopsearch-bar {
    display: block;
  }
  .desktopmenu {
    display: block;
  }
  .top-header,
  .main-header,
  .copyright, .single-course {
    padding: 1rem 8rem;
  }
  .welcome .center-contentAndvideo {
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
  }
  .welcomenote {
    margin-right: 1rem;
    width: 50%;
  }
  .welcomevideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    width: 50%;
  }
  .graduates .graduatesquote {
    flex-direction: row;
  } 
  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .footer-container > div {
    margin: 0 0.5rem;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1260px) {
  .desktopmenu > ul > li > a span {
    background: darkslategray;
    color: white;
    padding: 0.4rem 0.6rem;
  }
  .section .row .sect {
    width: 30%;
  }
}
