@import "./variables.css";
@import "./card.css";
@import "./constants.css";
@import "./form.css";
@import "./faq.css";
@import "./course.css";
@import "./certinhair.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
.res-pad {
  padding: 0.5rem;
}
.top-header {
  background-color: var(--green);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.6rem;
}
.top-header .contact-info {
  display: flex;
}
.top-header .contact-info span {
  color: white;
  font-size: 12px;
}
.top-header .contact-info .top-address {
  display: none;
}
.top-header > div > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0rem 0.5rem;
}
.top-header > div > ul > li > a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top-header > div > ul > li > a:hover {
  color: rgba(255, 166, 0, 0.397);
}
.main-header {
  padding: 0.8rem;
}
.logoandtoggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mobile-web-nav {
  position: relative;
}
.mobile-web-nav .logo {
  padding-right: 2rem;
}
.mobile-web-nav .logo img {
  height: 4.2rem;
}
.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button__line {
  width: 100%;
  height: 0.22rem;
  background: darkslategrey;
  border-radius: 6px;
  display: block;
  margin: 0.4rem 0;
}
.desktopmenu {
  display: none;
}
.desktopmenu > ul > li {
  display: inline-block;
  padding: 0rem 0.5rem;
  text-transform: capitalize;
}
.desktopmenu > ul > li > a {
  color: darkslategray;
  text-decoration: none;
  font-weight: 500;
}
.desktopmenu > ul > li > a:hover {
  opacity: 0.2;
}
.desktopmenu .dropdownmenu1 {
  display: none;
}
.desktopmenu > ul > li:hover .dropdownmenu1 {
  display: block;
  position: absolute;
  background: darkslategray;
  top: 3rem;
}
.desktopmenu > ul > li:hover .dropdownmenu1 > ul {
  display: block;
  margin: 10px;
}
.desktopmenu > ul > li:hover .dropdownmenu1 > ul > li {
  min-width: 150px;
  padding: 1rem;
  font-size: 0.8rem;
}
.desktopmenu > ul > li:hover .dropdownmenu1 > ul > li a {
  color: #f4f4f4;
}

.desktopsearch-bar {
  display: none;
}
/*.desktopsearch-bar button {
  position: relative;
}
.desktopsearch-bar .toggler {
  position: absolute;
  z-index: 3;
  height: 30px;
  width: 30px;
  opacity: 0;
}
.desktopsearch-bar .toggler:checked ~ .outofthescreen {
  visibility: visible;
}
.desktopsearch-bar .toggler:checked ~ .outofthescreen > div {
  transform: scale(1);
  transition-duration: 0.8s;
}
.desktopsearch-bar .toggler:checked ~ .outofthescreen > div > div {
  opacity: 1;
}

.desktopsearch-bar .outofthescreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.desktopsearch-bar .outofthescreen > div {
  background: rgba(0, 0, 0, 0.897);
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}
.desktopsearch-bar .outofthescreen > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.desktopsearch-bar button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: darkslategray;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.desktopsearch-bar .outofthescreen input[type="text"] {
  padding: 0.8rem 1.2rem;
  outline: none;
}*/
.mobilenav {
  position: relative;
}
.mobile-web-nav .mobilemenu {
  display: none;
}
.mobile-web-nav .mobilemenu.show-mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 5;
  background-color: white;
  padding: 0.5rem;
  left: 0;
}
.mobile-web-nav .mobilemenu > ul {
  padding-top: 1.6rem;
}
.mobile-web-nav .mobilemenu > ul > li {
  list-style: none;
  text-transform: uppercase;
  padding: 1.3rem;
  position: relative;
  z-index: -2;
  border: 1px solid #cccccc65;
  background: #cccccc56;
}
.mobile-web-nav .mobilemenu > ul > li > a {
  color: rgba(0, 0, 0, 0.705);
  text-decoration: none;
}
.mobile-web-nav .mobilemenu > ul > li > a span {
  color: rgba(255, 255, 255, 0.603);
}
.mobile-web-nav .mobilemenu .search-container {
  width: 100%;
}
.mobile-web-nav .mobilemenu input[type="text"] {
  padding: 1rem;
  font-size: 1rem;
  background: #cccccc56;
  border: none;
}
.mobile-web-nav .mobilemenu .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.main-banner {
  position: relative;
  width: 100%;
  z-index: -1;
  max-height: 600px;
  overflow: hidden;
}
.main-banner.inner-page {
  max-height: 300px;
}
.main-banner img {
  width: 100%;
}
.headeroverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.459);
  padding: 3rem 1rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-overlay-text {
  margin: 0 5%;
}
.header-overlay-text h1 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.header-overlay-text p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.header-overlay-text a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.header-overlay-text a:hover {
  background: burlywood;
}
.topmost-whatsapp {
  position: fixed;
  z-index: 20;
  top: 85%;
  right: 5%;
  background-color: #25d366;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topmost-whatsapp a {
  font-size: 1.5rem;
  color: white;
}

.welcome {
  margin-top: auto;
  padding: 2rem 1rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.welcome p {
  font-size: 1.1rem;
}
.welcome .mission {
  margin-top: 1rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
  color: darkgreen;
}
.welcome .mission p {
  letter-spacing: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.356);
  border-bottom: 1px solid rgba(0, 0, 0, 0.356);
  padding: 2rem;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  width: 100%;
}
.section.why {
  background: var(--green)
}
.section h2 {
  color: white;
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}
.section .row {
  display: flex;
  flex-direction: column;
}
.section .row .sect {
  margin-top: 1.3rem;
  background: white;
  padding: 3rem 1rem;
  width: 100%;
}
.section.why .sect img {
  height: 68px;
  padding-bottom: 10px;
}
.section.why .sect h4 {
  font-weight: lighter;
  font-size: 1.1rem;
  padding-bottom: 1rem;
}
.section.why .sect p {
  font-size: 1.1rem;
}
.section.why .btn {
  margin-top: 3rem;
  text-decoration: none;
  color: white;
  background: burlywood;
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
}
.section.courses .row .course-card {
  display: flex;
  flex-direction: column;
}
.section.courses .row .course-card .course-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.section.courses .row .course-card .course-img img {
  width: 100%;
}
.section.courses .row .course-card .course-info {
  padding: 1rem;
}
.section.courses .row .course-card .course-info .course-title {
  padding: 0.5rem 0;
  font-size: 20px;
  border-bottom: 1px solid #e6e6e6;
}
.section.courses .row .course-card .course-info .course-price {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.courses {
  padding: 3rem 1rem;
}
.courses h1 {
  color: darkslategray;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 2.3rem;
}
/*packages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.packages > div {
  width: 100%;
  position: relative;
  border: 1px solid #cccc;
  margin-top: 2rem;
  padding-bottom: 1rem;
}
.packages > div img {
  display: block;
  width: 100%;
  height: 50%;
}
.packages > div .overlaybg {
  position: absolute;
  z-index: 10;
  top: 80%;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: white;
}
.packages > div .text {
  width: 100%;
  padding: 0.8rem 0.4rem;
  text-align: start;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
}
.packages > div .text a {
  text-decoration: none;
  color: darkslategray;
}
.packages > div .price {
  text-align: right;
  padding: 0.4rem;
}
.packages > div .price span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.555);
  text-decoration: line-through;
}
.packages > div .price p {
  color: darkslategray;
  font-weight: bold;
}*/
.signup {
  background: darkslategray;
  padding: 3rem 1rem;
  text-align: center;
  color: white;
}
.signup h1 {
  padding: 1rem;
  margin-bottom: 0.8rem;
}
.signup p {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
}
input[type="email"] {
  padding: 0.8rem 2rem;
  outline: none;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.signup a {
  text-decoration: none;
  color: white;
  background: darkgoldenrod;
  margin-top: 0.8rem;
  padding: 0.5rem 1.2rem;
  transition: all 0.4s ease;
}
.signup a:hover {
  background: linear-gradient(to right, burlywood, darkslategray);
}
.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  width: 100%;
}
.benefits > div h1 {
  color: darkslategray;
  font-size: 1.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.benefits > div > ul > li {
  padding: 0.5rem;
  font-size: 1.1rem;
}
/*.studentProject {
  background: #f4f4f4;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}
.studentProject h1 {
  text-align: center;
  color: darkslategray;
  font-size: 1.8rem;
}
.studentProject h1 span {
  color: darkgoldenrod;
}
.projectdemo {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.demoimgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 2rem;
}
.demoimgs > div {
  position: relative;
  width: 100%;
}
.demoimgs > div img {
  width: 100%;
}
.projectoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background: rgba(47, 79, 79, 0.342);
}
.projectoverlay > div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: burlywood;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.in-place-of-video > div {
  width: 100%;
}
.in-place-of-video > div img {
  width: 50%;
}
.projectoverlay:hover {
  opacity: 1;
}*/

.store {
  width: 100%;
  background: url(/img/eresbella-cta-image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  color: white;
  text-align: center;
  position: relative;
}
.store .storeoverlay {
  position: relative;
  padding: 3rem 1rem;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.767);
}
.store .storeoverlay .text h1 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.store .storeoverlay .text p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.store .storeoverlay .text a {
  text-decoration: none;
  color: white;
  background: burlywood;
  padding: 0.6rem 1.3rem;
  border-radius: 20px;
  margin: 1rem;
  font-size: 1.1rem;
}
.footer-container {
  background: #eaeaea;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}
.footer-container > div {
  width: 100%;
}
.footer-container h4 {
  padding: 2rem 0rem;
}
.footer-container p {
  padding-bottom: 0.8rem;
  font-size: 0.9rem;
}
.footer-container .footer-courses img {
  height: 40px;
}
.footer-btn {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 0.5rem 1.1rem;
}
.footer-container .footer-courses a {
  font-weight: bold;
}
.footer-container .footer-courses a,
.footer-container .footer-links a {
  text-decoration: none;
  color: black;
}

.copyright {
  background: darkslategrey;
  padding: 1rem;
  color: white;
}
.copyright > div > ul > li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem;
}
.copyright > div > ul > li > a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.4s ease;
}
.copyright > div > ul > li > a:hover {
  color: burlywood;
}
.page-content {
  display: flex;
  flex-direction: column;
}
.page-content .mission-vision {
  display: flex;
  flex-direction: column;
}
.page-content .mission-vision .mission-content {
  padding: 1rem 0;
}
.contact-form {
  flex: 0 0 60%;
}
.contact-form .form input,
.contact-form .form textarea {
  width: 100%;
}
.accordion {
  margin: 1rem 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .res-pad {
    padding: 2rem 5rem;
  }
  .top-header,
  .main-header,
  .copyright {
    padding: 1rem 5rem;
  }
  .main-header .mobile-web-nav .toggle-button {
    display: none;
  }
  .main-header .mobile-web-nav .desktopmenu {
    display: flex;
  }
  .main-header .mobile-web-nav .desktopmenu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main-header .mobile-web-nav .desktopmenu ul li {
    display: flex;
    padding: 0 1.5rem;
  }

  .main-header .mobile-web-nav .desktopmenu ul li:last-child {
    padding-right: 0;
  }
  .header-overlay-text {
    margin: 0 25%;
  }
  .section .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .why .row > div {
    margin: 0 0.4rem;
  }
  .projectdemo {
    flex-direction: row;
  }

  .demoimgs > div img {
    width: 80%;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .page-content {
    flex-direction: row;
  }
  .page-content .about-content {
    padding-right: 1rem;
  }
  .page-content .mission-vision {
    padding-left: 1rem;
  }
}
@media (min-width: 860px) {
  .top-header .contact-info .top-address {
    display: unset;
    padding-left: 1.5rem;
  }
}
@media (min-width: 990px) {
  .res-pad {
    padding: 3.5rem 10rem;
  }
  .toggle-button {
    display: none;
  }
  .desktopsearch-bar {
    display: block;
  }
  .desktopmenu {
    display: block;
  }
  .top-header,
  .main-header,
  .copyright {
    padding: 1rem 10rem;
  }
  .welcome .center-contentAndvideo{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;

  }
  .welcomenote{
    margin-right: 1rem;
  }
  .welcomevideo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
    
  

  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .footer-container > div {
    margin: 0 0.5rem;
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1260px) {
  .desktopmenu > ul > li > a span {
    background: darkslategray;
    color: white;
    padding: 0.4rem 0.6rem;
  }
  .section .row .sect {
    width: 30%;
  }
}
