@import "./variables.css";

.form {
  display: flex;
  flex-direction: column;
}
.form-row {
  display: flex;
  flex-direction: column;
}
.form-row .form-group {
  flex: 0 0 47.5%;
}
@media (min-width: 768px) {
  .form-row {
    flex-direction: row;
    justify-content: space-between;
  }
}